// #region ------------- Reset styles -------------

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

/*! rtl:begin:ignore */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*! rtl:end:ignore */

// --------------------------------------------------------------- 3. CORE
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

*:focus-visible {
    outline: 1px solid var(--color-info-300);
    outline-offset: -1px;
}

html {
    font-size: 14px;
}

/* just so it's organized */
/* stylelint-disable-next-line no-duplicate-selectors */
body {
    min-height: 100vh;
    background-color: var(--color-primary-500);
    color: var(--color-secondary-100);
    line-height: 1.5;
    font-family: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;

    min-width: 0;

    html[dir='rtl'] & {
        font-family: Cairo, Tahoma, sans-serif;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

strong,
b {
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    /* https://caniuse.com/mdn-html_elements_img_aspect_ratio_computed_from_attributes */
    /* stylelint-disable-next-line property-no-unknown */
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
}


h1 {
    font-weight: bold;
    font-size: 24px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
}

h4 {
    font-weight: bold;
}

// --------------------------------------------------------------- 4. FORM ELEMENTS
input,
textarea,
select,
button {
    font: inherit;
    font-size: 16px;

    /* prevent ios zoom plus who doesnt like user friendly form inputs? */
    color: inherit;
    padding: 0;
    margin: 0;
}

input::-ms-clear {
    display: none;

    /* remove IE X - lets provide our own */
}

input::-webkit-search-cancel-button {
    appearance: none;

    /* remove webkit X - lets provide our own */
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
    border-width: 0;
    cursor: pointer;
}

input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
textarea {
    appearance: none;
    border: 1px solid var(--color-secondary-400);
    background-color: var(--color-primary-100);
}

input[type='search'] {
    appearance: none;
    border: none;
    background-color: rgb(219 219 219 / 50%);

    /* This specific alpha-enabled color is not present in the design language */
}

textarea {
    resize: vertical;
}

select {
    border: 1px solid var(--color-secondary-400);
    background-color: var(--color-primary-100);
}

button {
    font-size: inherit;
    appearance: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
}

input:not([type='checkbox']),
input:not([type='radio']),
textarea,
select {
    display: block;
    appearance: none;
}

input:not([type='checkbox'])::placeholder,
input:not([type='radio'])::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--color-secondary-400);
}

input[type='search']::placeholder {
    color: var(--color-secondary-200);
}

input:not([type='checkbox']).error,
input:not([type='radio']).error,
textarea.error,
select.error {
    border-color: var(--color-system-red);
}

@media (hover: hover) and (pointer: fine) {
    input:not([type='checkbox']):hover,
    input:not([type='radio']):hover,
    textarea:hover,
    select:hover {
        border-color: var(--color-secondary-400);
    }
}

input:not([type='checkbox']):focus,
input:not([type='radio']):focus,
textarea:focus,
select:focus {
    border-color: var(--color-noon-black);
}

@media (hover: hover) and (pointer: fine) {
    input:not([type='checkbox']).error,
    input:not([type='radio']).error,
    textarea.error,
    select.error {
        border-color: var(--color-system-red);
    }
}

input:not([type='checkbox']).valid,
input:not([type='radio']).valid,
textarea.valid,
select.valid {
    border-color: var(--color-system-green);
}

input:not([type='checkbox'])[disabled],
input:not([type='radio'])[disabled],
textarea[disabled],
select[disabled] {
    cursor: not-allowed;
    border-color: var(--color-grey3);
    background-color: var(--color-grey4);
    color: var(--color-secondary-400);
}

input[type='submit'] {
    display: none;
}

// --------------------------------------------------------------- 5. CUSTOM ACTIONS (LINKS/BUTTONS)

// Used in case of DateInput */ attention cli - check where this is used, cant this go in the date component itself?
html[dir='rtl'] .ltrForce {
    direction: ltr;
    unicode-bidi: bidi-override;
    text-align: right;
}

// #endregion ------------- Reset styles -------------
