/// Font sizes ///
$font-size-xsmall: 0.75rem;
$font-size-small: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-xlarge: 3rem;

/// Font weights ///
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/// Spacing ///
$spacing-xxsmall: 0.25rem;
$spacing-xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-xlarge: 4rem;

/// Border radius ///
$border-radius-small: 0.25rem;
$border-radius-medium: 0.5rem;
$border-radius-large: 1rem;
$border-radius-xlarge: 2rem;

/// Colors ///
$text-primary: #111827;
$text-secondary: #374151;
$text-quarterary-500: #6B7280;
$border-color: #E5E7EB;
$border-radius-color: #E0E0E0;
$background-color: #F9FAFB;
$background-tertiary-100: #F3F4F6;
$text-secondary-700: #374151;
$text-info-default-700: #1D4ED8;
$borders-default-secondary-100: #F3F4F6;
$minutes-primary-25: #FEF2F2;
$minutes-primary-500: #DB3127

