@import "../styles/variables";

.container {
    background-color: $background-color;
    
    
    th {
        padding: $spacing-small $spacing-xsmall;
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        color: $text-secondary;
        text-align: left;
    }
}